<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<!--h1>Create Event</h1>
<nav th:replace="fragments :: navigation"></nav-->
<header th:replace="fragments :: header"></header>

<form method="POST">
    <th:block th:each="event : ${events}">
        <div class="form-group">
            <label>
                <span th:text="${event.name}"></span>
                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <div class="form-group">
        <input type="submit" value="Delete Event" class="btn btn-danger">
    </div>
</form>
</body>
</html>