<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<h1>All Events</h1>

<table>
    <thead>
    <tr>
        <th th:text="${tableHeader[0]}"></th>
        <th th:text="${tableHeader[1]}"></th>
        <th th:text="${tableHeader[2]}"></th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.get(keys[0])}"></td>
        <td th:text="${event.get(keys[1])}"></td>
        <td><img th:src = "@{${event.get(keys[2])}}"/></td>
    </tr>
    <tr>
        <td colspan="3"><span th:replace="fragments :: techHubAddress"></span></td>
    </tr>
</table>

</body>
</html>